*{padding:0;margin:0}
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css');
/* 모바일 */
@media (max-width: 600px) {
 body {
  font-family: 'NanumGothic', sans-serif;font-size:2.5vw
    }
 ul li{float:left;line-height:10vh;
    width:calc(100vw / 3.5);
    text-align:center;list-style-type:none;color:white}
}
/* 컴퓨터용 */
@media (min-width: 601px) {
 body {
  font-family: 'NanumGothic', sans-serif;font-size:1vw
    }
 ul li{float:left;line-height:10vh;
    width:calc(100vw / 3.08);
    text-align:center;list-style-type:none;color:white}
}
#header{height:20vh;background:Brown}
#header h1{height:20vh;line-height:20vh;
    text-align: center;color:whitesmoke}
ul{background:rgb(212, 79, 79);height:10vh}


hr{border-color: red;}
nav{margin-bottom:0.5rem}
ul li:hover{
    position:relative;
    left:-2px;
    top:2px;
    cursor:pointer
}
#close{cursor:pointer}
#main_img{height:70vh;text-align: center;}
.train_img img {width:23vw;height:20vh;
                border:1px solid black;border-radius: 0.5rem;}
